table{
    inline-size: 100%;
    overflow: hidden;
    display: flex;
    flex-flow: column wrap;
    gap: 8px;
    flex-grow: 1;

    > tbody{
        overflow-y: auto;
        block-size: 1px;
        padding-inline: 0 8px;
        display: flex;
        flex-flow: column nowrap;
        gap: 2px;
        flex-grow: 1;

        > tr{
            display: flex;

            > td{
                inline-size: 100%;
            }
        }
    }

    &[empty]{
        > tbody{
            padding-inline: 0;
            
            > tr {
                block-size: 100%;

                > td{
                    text-align: center;
                    block-size: 100%;
                    display: flex;
                    flex-flow: column wrap;
                    align-items: center;
                    justify-content: center;
                    gap: 12px;

                    > header{
                        display: flex;
                        flex-flow: column wrap;
                        align-items: center;
                        justify-content: center;
                        gap: 4px;

                        > p{
                            font-size: var(--font-size-sm);
                        }
                    }
                }
            }
        }
    }
}

.Row{
    inline-size: 100%;
    padding-inline: 12px;
    padding-block: 12px;
    display: flex;
    flex-flow: column wrap;
    gap: 4px;
    border-radius: 8px;
    transition: background .3s ease;

    &:is(:hover, [toggled]){
        background: var(--color-gray-3);
    }

    > span{
        color: var(--color-gray-1);

        &:first-child{
            font-family: var(--font-family-medium);
            color: var(--color-black);
        }
    }
}