container.WebGridSection__container{
    container: webgridsection / inline-size;
}

.WebGridSection{
    --webgridsection__padding-inline: 16px;
    --webgridsection__padding-block: 56px;
    --webgridsection__gap: 32px;
    padding-inline: var(--webgridsection__padding-inline);
    padding-block: var(--webgridsection__padding-block);
    display: flex;
    flex-flow: column nowrap;
    gap: var(--webgridsection__gap);

    &[item]{
        padding-inline: 0;
        padding-block: 0;
        gap: 16px;
    }

    > header{
        display: flex;
        flex-flow: column wrap;
        gap: 1ch;

        > p{
            display: flex;
            flex-flow: row wrap;
            /* justify-content: space-between; */
            gap: .5ch;

            > :is(a, button){
                font-family: var(--font-family-semibold);
            }
        }
    }

    > .WebGridSection__grid{
        --columns: 1;
        display: grid;
        grid-template-columns: repeat(var(--columns), 1fr);
        gap: 12px;

        &[columns="4"]{
            --columns: 2;
        }
    }

    @container webgridsection (min-inline-size: 768px){
        --webgridsection__padding-inline: 48px;
        --webgridsection__padding-block: 80px;
        --webgridsection__gap: 48px;
    }
}