container.WebGridSection__container{
    container: webgridsection / inline-size;
}

.WebGridSection{
    padding-inline: 16px;
    padding-block: 56px;
    display: flex;
    flex-flow: column wrap;
    gap: 32px;

    > header{
        display: flex;
        flex-flow: row wrap;
        gap: 1ch;

        > p{
            > :is(a, button){
                font-family: var(--font-family-semibold);
            }
        }
    }

    > .WebGridSection__grid{
        --columns: 1;
        display: grid;
        grid-template-columns: repeat(var(--columns), 1fr);
        gap: 12px;

        &[columns="4"]{
            --columns: 2;
        }
    }
}