container.WebGridSection__container{
    container: webgridsection / inline-size;
}

.WebGridSection{
    --webgridsection__padding-inline: 16px;
    --webgridsection__padding-block: 56px;
    --webgridsection__gap: 32px;

    --webgridsection-grid__columns_1mobile2desktop: 1;
    --webgridsection-grid__columns_2mobile4desktop: 2;
    --webgridsection-grid__columns_1mobile3desktop: 1;
    --webgridsection-grid__gap: 12px;

    padding-inline: var(--webgridsection__padding-inline);
    padding-block: var(--webgridsection__padding-block);
    display: flex;
    flex-flow: column nowrap;
    gap: var(--webgridsection__gap);

    scroll-margin-block-start: 132px;

    &[item]{
        padding-inline: 0;
        padding-block: 0;
        gap: 16px;
    }

    /* &[sticky]{
        position: sticky;
        top: var(--topmenu-block-size);
        left: 0;
        z-index: 3;
    } */

    > header{
        display: flex;
        flex-flow: column wrap;
        gap: 1ch;

        > p{
            display: flex;
            flex-flow: row wrap;
            /* justify-content: space-between; */
            gap: .5ch;

            > :is(a, button){
                font-family: var(--font-family-semibold);
            }
        }
    }

    > .WebGridSection__grid{
        display: grid;
        grid-template-columns: repeat(var(--webgridsection-grid__columns_1mobile2desktop), 1fr);
        gap: var(--webgridsection-grid__gap);

        &[columns="2mobile4desktop"]{
            grid-template-columns: repeat(var(--webgridsection-grid__columns_2mobile4desktop), 1fr);
        }

        &[columns="1mobile3desktop"]{
            grid-template-columns: repeat(var(--webgridsection-grid__columns_1mobile3desktop), 1fr);
        }
    }

    @container webgridsection (min-inline-size: 768px){
        --webgridsection__padding-inline: var(--web__padding-inline);
        --webgridsection__padding-block: 80px;
        --webgridsection__gap: 48px;
    }

    @container webgridsection (min-inline-size: 1024px){
        --webgridsection-grid__columns_1mobile2desktop: 2;
        --webgridsection-grid__columns_2mobile4desktop: 3;
        --webgridsection-grid__gap: 24px;
    }

    @container webgridsection (min-inline-size: 1280px){
        --webgridsection-grid__columns_2mobile4desktop: 4;
        --webgridsection-grid__columns_1mobile3desktop: 3;
    }
}