.CmsAsideNavigationTrigger{
    & > img[open]{
        display: block;
    }

    & > img[close]{
        display: none;
    }
}

body:has(.CmsAsideNavigation > dialog:popover-open){
    .CmsAsideNavigationTrigger{
        & > img[open]{
            display: none;
        }

        & > img[close]{
            display: block;
        }
    }
}

@media (min-width: 1024px) {
    .CmsAsideNavigationTrigger{
        & > img[open]{
            display: block !important;
        }

        & > img[close]{
            display: none !important;
        }
    }
}