container.WebStickyBanner__container{
    container: webstickybanner / inline-size;
    position: sticky;
    top: calc(var(--topmenu-block-size) * -1);
    left: 0;
    z-index: 2;
}

.WebStickyBanner{
    --webstickybanner__padding-inline: 32px;
    text-align: center;
    padding-inline: var(--webstickybanner__padding-inline);
    padding-block: 16px;
    background: var(--color-gray-3);
    

    > p{
        font-size: var(--font-size-min);
        font-family: var(--font-family-medium);

        > :is(a, strong){
            font-family: var(--font-family-bold);
        }
    }

    @container webstickybanner (min-inline-size: 768px){
        --webstickybanner__padding-inline: 64px;
    }
}