.InputFileRemoveOption{
    > span{
        inline-size: 100%;
        word-break: break-all;
    }

    > :is(a, button){
        color: var(--color-gray-1);
        transition: all .3s ease;

        &:hover{
            color: var(--color-black);
        }
    }
}