container.WebInfoCard__container{
    container: webinfocard / inline-size;
    display: flex;

    > .WebInfoCard{
        inline-size: 100%;
    }
}

.WebInfoCard{
    background: var(--color-gray-4);
    border-radius: 8px;
    padding-inline: 16px;
    padding-block: 24px;
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 12px;

    &[item]{
        padding-inline: 0;
        padding-block: 0;
        background: none;
        display: grid;
        grid-template-columns: minmax(100px, 1fr) 2fr;
        grid-template-areas:
            "thumbnail header"
            "thumbnail header";
        gap: 16px;

        &:has(.WebInfoCard__toolbox){
            grid-template-areas:
                "thumbnail header"
                "thumbnail toolbox";
        }

        > header{
            text-align: start;
            display: flex;
            flex-flow: column wrap;
            align-items: start;
        }

        > .WebInfoCard__thumbnail{
            min-block-size: 100px;
        }
    }

    &[promo]{
        display: grid;
        grid-template-columns: minmax(160px, 1fr) 1fr;
        grid-template-areas:
            "thumbnail header"
            "toolbox toolbox";
        gap: 16px;

        > header{
            text-align: start;
        }

        > .WebInfoCard__toolbox{
            padding-block: 0;
        }

        > .WebInfoCard__thumbnail{
            min-block-size: 160px;

            > figure{
                inline-size: 48px;
            }
        }
    }

    > header{
        grid-area: header;
        display: flex;
        flex-flow: column wrap;
        gap: 1ch;

        > p{
            > strong{
                font-family: var(--font-family-semibold);
            }
        }
    }

    > .WebInfoCard__toolbox{
        padding-block: 0 8px;
        grid-area: toolbox;

        > :is(a, button){
            inline-size: 100%;
            padding-block: 14px;
            padding-inline: 20px;
            justify-content: center;
        }
    }

    > .WebInfoCard__thumbnail{
        position: relative;
        inline-size: 100%;
        min-block-size: 120px;
        aspect-ratio: 1 / 1;
        background: var(--color-gray-2);
        border-radius: 8px;
        grid-area: thumbnail;

        > figure{
            position: absolute;
            top: 8px;
            left: 8px;
            inline-size: 80px;
            aspect-ratio: 1 / 1;
            background: var(--color-white);
            border-radius: 8px;

            > img{
                border-radius: 8px;
            }
        }

        > img{
            border-radius: 8px;
        }
    }
}