.Dropdown{
    position: relative;

    dialog{
        position: absolute;
        top: .5ch;
        left: unset;
        transform: none;
        inline-size: auto;
        min-inline-size: 120px;
        max-inline-size: 240px;
        position-area: block-end span-inline-end;
        border: 1px solid var(--color-gray-2);
        border-radius: 8px;
        padding-inline: 0;
        padding-block: 0;

        &::backdrop{
            display: none;
        }

        > form{
            padding-block: 12px;
            padding-inline: 16px;

            h6{
                font: var(--font-size-sm)/1.2 var(--font-family-semibold);
            }
        }
    }
}