.Dropdown{
    position: relative;

    & > dialog{
        position: absolute;
        top: .5ch;
        left: 0;
        transform: none;
        inline-size: 230px;
        min-inline-size: 230px;
        max-inline-size: 240px;
        position-area: block-end span-inline-end;
        border: 1px solid var(--color-gray-2);
        border-radius: 8px;
        padding-inline: 0;
        padding-block: 0;
        transition: display .3s;

        &:popover-open {
            transform: none;
            opacity: 1;
    
            @starting-style {
                transform: none;
                opacity: 0;
            }
        }

        &::backdrop{
            display: none;
        }

        > form{
            padding-block: 12px;
            padding-inline: 16px;

            h6{
                font: var(--font-size-sm)/1.2 var(--font-family-semibold);
            }
        }
    }
}

@media (min-width: 820px) {
    .Dropdown{
        & > dialog{
            position-area: block-end span-inline-start;
        }
    }
}