:root {
    --color-white: #FFF;
    --color-black: #1d1d1f;

    --color-blue: #06c;
    --color-gray-1: #6e6e80;
    --color-gray-2: #d9d9e3;
    --color-gray-3: #ececf1;
    --color-gray-4: #F5F5F7;
    --color-red: #ff0000;

    --font-family-extrabold: Manrope-ExtraBold, sans-serif;
    --font-family-bold: Manrope-Bold, sans-serif;
    --font-family-semibold: Manrope-Semibold, sans-serif;
    --font-family-medium: Manrope-Medium, sans-serif;
    --font-family-regular: Manrope-Regular, sans-serif;

    --font-size-min: 14px;
    --font-size-xs: .916em;
    --font-size-sm: 1em;
    --font-size-p: 1.167em;
    --font-size-h6: 1.167em;
    --font-size-h5: 1.333em;
    --font-size-h4: 1.5em;
    --font-size-h3: 1.667em;
    --font-size-h2: 2em;
    --font-size-h1: 2.333em;

    --topmenu-block-size: 64px;

    --web__padding-inline: 48px;
}

@font-face {
    font-family: Manrope-ExtraBold;
    src: url(/fonts/manrope/Manrope-ExtraBold.ttf) format('truetype');
    font-display: swap;
}

@font-face {
    font-family: Manrope-Bold;
    src: url(/fonts/manrope/Manrope-Bold.ttf) format('truetype');
    font-display: swap;
}

@font-face {
    font-family: Manrope-SemiBold;
    src: url(/fonts/manrope/Manrope-SemiBold.ttf) format('truetype');
    font-display: swap;
}

@font-face {
    font-family: Manrope-Medium;
    src: url(/fonts/manrope/Manrope-Medium.ttf) format('truetype');
    font-display: swap;
}

@font-face {
    font-family: Manrope-Regular;
    src: url(/fonts/manrope/Manrope-Regular.ttf) format('truetype');
    font-display: swap;
}

* {
    margin-inline: 0;
    margin-block: 0;
    padding-inline: 0;
    padding-block: 0;
    box-sizing: border-box;
    outline-color: var(--color-black);
    z-index: auto;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: var(--color-gray-4);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: var(--color-gray-2);
    border-radius: 5px;
    transition: all .3s ease;
}

::-webkit-scrollbar-thumb:hover{
    background: var(--color-gray-1);
}

::-webkit-scrollbar-corner {
    background: var(--color-gray-2);
}

body {
    position: relative;
    font: var(--font-size-min)/1.2 var(--font-family-regular);
    background: var(--color-white);
    color: var(--color-black);
}

h1{
    font: var(--font-size-h1)/1.2 var(--font-family-bold);
}

h2{
    font: var(--font-size-h2)/1.2 var(--font-family-bold);
}

h3{
    font: var(--font-size-h3)/1.2 var(--font-family-bold);
}

h4{
    font: var(--font-size-h4)/1.2 var(--font-family-bold);
}

h5{
    font: var(--font-size-h5)/1.2 var(--font-family-bold);
}

h6{
    font: var(--font-size-h6)/1.2 var(--font-family-bold);
}

p{
    font: var(--font-size-p)/1.2 var(--font-family-regular);
    color: var(--color-gray-1);
}

a, button{
    font: inherit;
    border: none;
    background: none;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

container{
    display: block;
}

@media (min-width: 1024px) {
    body{
        --web__padding-inline: 120px;
    }
}

@media (min-width: 1280px) {
    body{
        --web__padding-inline: calc(100svw/2 - 1056px/2);
    }
}