container.TopMenu__container{
    container: topmenu / inline-size;
    grid-area: TopMenu;
}

.TopMenu{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;

    > p{
        font-family: var(--font-family-semibold);
        color: var(--color-black);

        @container topmenu (min-inline-size: 1011px){
            padding-inline: 12px 0;
        }
    }
}