container.WebHeroSection__container{
    container: webherosection / inline-size;

    &:has(+ .WebStickySection__container){
        > .WebHeroSection{
            padding-block: var(--webherosection__padding-block) 0;
        }
    }
}

.WebHeroSection{
    --webherosection__padding-inline: 24px;
    --webherosection__padding-block: 56px;
    --webherosection__gap: 48px;

    --webherosection-header__max-inline-size: 420px;

    --webherosection-thumbnail__max-inline-size: 500px;
    --webherosection-thumbnail__min-block-size: 280px;

    padding-inline: var(--webherosection__padding-inline);
    padding-block: var(--webherosection__padding-block);
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: var(--webherosection__gap);

    &[hero-image]{
        padding-inline: 0;

        > header{
            max-inline-size: calc(var(--webherosection-header__max-inline-size) + 100px);
        }

        > .WebHeroSection__figure{
            position: relative;
            max-inline-size: 100%;
            border-radius: 0;

            &::before{
                content: '';
                position: absolute;
                inset: 0;
                background: var(--color-black);
                opacity: .4;
            }

            > img{
                border-radius: 0;
            }
        }
    }

    &[reversed]{
        flex-flow: column-reverse wrap;
    }

    > header{
        max-inline-size: var(--webherosection-header__max-inline-size);
        text-align: center;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        gap: 1ch;

        > h1{
            padding-block: 0 .25ch;
        }

        > p{
            padding-block: 0 1.5ch;

            > strong{
                font-family: var(--font-family-semibold);
            }
        }

        > .WebHeroSection__header__toolbox{
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            justify-content: center;
            gap: 8px;

            > button{
                padding-block: 14px !important;
                padding-inline: 20px !important;
            }
        }

        
    }

    > .WebHeroSection__figure{
        inline-size: 100%;
        max-inline-size: var(--webherosection-thumbnail__max-inline-size);
        min-block-size: var(--webherosection-thumbnail__min-block-size);
        background: var(--color-gray-3);
        border-radius: 8px;

        > img{
            border-radius: 8px;
            inline-size: 100%;
            block-size: 100%;
            object-fit: cover;
        }
    }

    @container webherosection (min-inline-size: 768px){
        --webherosection__padding-inline: var(--web__padding-inline);
        --webherosection__padding-block: 80px;
        --webherosection__gap: 64px;

    }
}