form {
    overflow-y: hidden;
    display: flex;
    flex-flow: column wrap;
    gap: 8px;

    > header {
        padding-block: 0 8px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "pretitle anchor"
            "title anchor";
        gap: 2px 8px;

        >p {
            font: var(--font-size-xs)/1.2 var(--font-family-semibold);
            grid-area: pretitle;
        }

        >h2 {
            font: var(--font-size-h6)/1.2 var(--font-family-bold);
            grid-area: title;
        }

        > a{
            align-self: end;
            justify-self: end;
            grid-area: anchor;
        }
    }

    :is(fieldset, inputgroup) {
        inline-size: 100%;
    }

    inputgroup > .form__error {
        font: var(--font-size-xs)/1.2 var(--font-family-semibold);
        inline-size: 100%;
        color: var(--color-red);
        padding-block: 0 4px;
    }

    > .form__scroller {
        inline-size: 100%;
        overflow-y: scroll;
        scrollbar-gutter: stable;
        padding-inline: 0 16px;
        block-size: 1px;
        padding-block: 0 64px;
        flex-grow: 1;
    }

    &[submitting] [type="submit"] {
        pointer-events: none;
        position: relative;
        opacity: .5;

        &::after {
            content: '';
            inline-size: 1.2ch;
            block-size: 1.2ch;
            border-radius: 50%;
            border: 3px solid rgb(255 255 255 / 25%);
            border-block-start-color: var(--color-white);
            animation: submitting-anim 1.5s linear infinite;
        }
    }

    inputgroup > small:has(~[type="submit"]) {
        color: var(--color-gray-1);
    }

    inputgroup:has(> input[type="hidden"]) {
        display: none;
    }
}

@keyframes submitting-anim {
    0% {
      rotate: 0deg;
    }
    100% {
      rotate: 360deg;
    }
}

fieldset {
    --columns: 1;
    border: none;
    /* overflow-y: auto; */
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    gap: 8px;

    > legend {
        padding-block: 8px 0;
        font: var(--font-size-xs) / 1.2 var(--font-family-semibold);
        color: var(--color-black);
    }
}

inputgroup {
    position: relative;
    border: none;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 4px 8px;

    >hr {
        flex-grow: 1;
        border: none;
    }

    >label {
        font: var(--font-size-xs)/1.2 var(--font-family-semibold);
        inline-size: 100%;
        color: var(--color-gray-1);

        &:has(~ input:is([type="checkbox"], [type="radio"])){
            inline-size: auto;
        }
    }

    > p{
        font-size: var(--font-size-sm);
    }
}

@media (min-width: 1280px) {
    form{
        gap: 12px;
    }

    fieldset{
        gap: 12px;
    }
}