.Button{
    display: flex;
    flex-flow: row wrap;
    align-items: center;

    &.PrimaryButton{
        font-family: var(--font-family-semibold);
        border-radius: 8px;
        padding-inline: 12px;
        padding-block: 8px;
        min-block-size: 34px;
        gap: 8px;

        &.PrimaryGray{
            background: var(--color-gray-3);
            color: var(--color-gray-1);
        }

        &.PrimaryBlue{
            background: var(--color-blue);
            color: var(--color-white);
        }

        &.PrimaryBlack{
            background: var(--color-black);
            color: var(--color-white);
        }
    }

    &[full-width]{
        inline-size: 100%;
    }

    &[fill-space]{
        flex-grow: 1;
    }

    &[content-center]{
        justify-content: center;
    }
}